.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Login {
  text-align: center;
  margin-top: 40px;
}

label, input, button {
  margin: 10px;
  padding: 5px;
}

.errorMessage {
  color: red
}

footer {
  bottom: 0;
  position: absolute;
  width: 90%;
  height: 40px;
}