body {
  margin: 0;
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.errorMessage {
  color: red
}

footer {
  bottom: 0;
  position: absolute;
  width: 90%;
  height: 40px;
}

.customNavColor {
  background-color: blue;
}

.bg-royal-blue {
  background-color: #0504aa;
}

.text-royal-blue {
  color: #0504aa;
}

.bg-light-royal-blue {
  background-color: #ececfa;
}

.input-field {
  border-color: #0504aa;
  border-style: solid;
  width: 250px;
  border-radius: rounded;
}

.btn-royal-blue {
  background-color: #0504aa;
  color: #fff;
  font-weight: bold;
}

.btn-royal-blue:hover, .btn-royal-blue:focus, .btn-royal-blue:active, .btn-royal-blue.active, .open>.dropdown-toggle.btn-royal-blue {
  color: #fff;
  background-color: #0204ff;
}