body {
  margin: 0;
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-form {
  width: 450px;
}

.login-info {
  background-color: #f3f3ff;
  color: #0504aa;
}

footer {
  bottom: 0;
  position: absolute;
  width: 90%;
  height: 40px;
}

.sidebar {
  width: 220px;
  height: 100vh;
  font-size: small;
  padding-left: 2rem!important;
  padding-top: 2rem!important;
  background-color: #0504aa;
  color: #fff;
  position: fixed;
}

.main-content {
  flex: 0 0 auto;
  width: 66.6%;
  padding-top: 110px;
  padding-left: 3rem!important;
  font-size: small;
  margin-left: 220px;
}

.main-content-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0504aa;
  margin-bottom: 1.25rem !important;
}

.main-content-subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: #0504aa;
  margin-bottom: 1.25rem !important;
}

.bg-royal-blue {
  background-color: #0504aa;
}

.text-royal-blue {
  color: #0504aa;
}

.bg-light-royal-blue {
  background-color: #f3f3ff;
}

.select-field-account {
  background-color: #fff!important;
  color: #000!important;
  border-color: #adb5bd;
  width: 380px;
  height: 80px;
  font-size: small;
}

.select-field-account:hover {
  border-color: #000;
  background-color: #fff!important;
}

.select-dropdown {
  color: #000;
  width: 380px;
  height: 70px;
  font-size: small;
}

.select-dropdown:hover, .select-dropdown:focus, .select-dropdown:active {
  background-color: #fff;
  color: #0204ff;
}

.select-dropdown-interval {
  background-color: #fff;
  width: 158px;
  color: #000;
  font-size: small;
}

.select-dropdown-interval:hover, .select-dropdown-interval:focus, .select-dropdown-interval:active {
  background-color: #fff;
  color: #0204ff;
}

.btn-royal-blue {
  background-color: #0504aa;
  color: #fff;
  font-weight: bold;
}

.btn-royal-blue:hover, .btn-royal-blue:focus, .btn-royal-blue:active {
  color: #fff;
  background-color: #0204ff;
}

.btn-form {
  width: 130px;
  font-size: small;
}

.nav-link {
  color: #fff;
}

.nav-link:focus, .nav-link:active {
  color: #fff;
}

.nav-link:hover {
  color: #00ddf1;
  font-weight: bold;
}

.account-number {
  color: #afafaf;
}

.account-balance {
  font-weight: bold;
}

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

.accordion-button {
  background-color: transparent;
  border-style: none;
  font-size: small;
}

.accordion-button:focus {
  background-color: transparent;
  border-style: none;
  border-color: transparent;
  color: #000;
}

.accordion-button:hover {
  color: #000;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: transparent;
  box-shadow: none;
}

.accordion-item {
  border-style: none;
  background-color: transparent;
}

.accordion-collapse {
  border-top-style:solid;
  border-bottom-style:solid;
  border-width: 1px;
  border-color: #dbdbdb;
}

.portfolio-accordion-button {
  color: #555555;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 10px;
  width: 100px;
}

.portfolio-accordion-button:hover {
  color: #0204ff;
  cursor: pointer;
}

.portfolio-section {
  width: 480px;
  background-color: #f3f3ff;
  margin-bottom: 30px;
  padding: 15px;
}

.select-field-interval {
  width: 160px;
  font-size: small;
  background-color: #fff!important;
  color: #000!important;
  border-color: #adb5bd;
  text-align: left;
}

.select-field-interval:hover, .select-field-interval:focus, .select-field-interval:active {
  border-color: #000;
  background-color: #fff!important;
  color: #000!important;
}

.date-badge {
  background-color: #0504aa;
  color: #fff;
  font-weight: bold;
  width: 52px;
  font-size: small;
}

.date-badge:hover, .date-badge:focus, .date-badge:active {
  background-color: #0504aa!important;
  color: #fff!important;
  border-style: solid!important;
  cursor: default;
}

.datepicker {
  width: 160px;
  height: 34px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #adb5bd;
  padding-left: 12px;
}

.datepicker:hover{
  border-color: #000;
}

.fontSizeGeneral {
  font-size: small!important;
}