body {
  margin: 0;
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.errorMessage {
  color: red
}

footer {
  bottom: 0;
  position: absolute;
  width: 90%;
  height: 40px;
}

.sidebar {
  width: 288px;
}

.bg-royal-blue {
  background-color: #0504aa;
}

.text-royal-blue {
  color: #0504aa;
}

.bg-light-royal-blue {
  background-color: #ececfa;
}

.input-field {
  border-color: #0504aa;
  border-style: solid;
  border-width: 3px;
  width: 340px;
  height: 60px;
  padding: 10px;
  color: #0504aa;
  font-size: larger;
}

.input-field:hover, .input-field:focus, .input-field:active {
  border-color: #0204ff;
  color: #0204ff;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  /* -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
  -moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
  -o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
  transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out; */
}

.select-field-account {
  background-color: #fff;
  color: #000;
  border-color: #0504aa;
  border-style: solid;
  border-width: 3px;
  padding: 5px;
  width: 450px;
  height: 100px;
}

.select-field-account:hover, .select-field-account:focus, .select-field-account:active {
  border-color: #0204ff;
  background-color: #fff;
  color: #000;
}

.btn-royal-blue {
  background-color: #0504aa;
  color: #fff;
  font-weight: bold;
}

.btn-royal-blue:hover, .btn-royal-blue:focus, .btn-royal-blue:active {
  color: #fff;
  background-color: #0204ff;
}

.btn-form {
  width: 150px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #00ddf1;
  font-weight: bold;
}

.account-number {
  color: #afafaf;
}

.account-balance {
  font-weight: bold;
}

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

.accordion-button {
  background-color: transparent;
  border-style: none;
}

.accordion-button:focus {
  background-color: transparent;
  border-style: none;
  border-color: transparent;
  color: #000;
}

.accordion-button:hover {
  color: #000;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: transparent;
  box-shadow: none;
}

.accordion-item {
  border-style: none;
  background-color: transparent;
}

.accordion-collapse {
  border-top-style:solid;
  border-bottom-style:solid;
  border-width: 1px;
  border-color: #dbdbdb;
}

.portfolio-accordion-button {
  color: #555555;
  cursor: pointer;
}

.portfolio-accordion-button:hover {
  color: #0504aa;
  cursor: pointer;
}
